###> app/bundle ###
DEFAULT_LOCALE='ca'
PROJECT_WEB_TITLE='PROJECT_WEB_TITLE'
PROJECT_BASE_URL='PROJECT_BASE_URL'
PROJECT_BACKEND_TITLE='PROJECT_BACKEND_TITLE'
GOOGLE_ANALYTICS_IS_ENABLED=false
GOOGLE_ANALYTICS_ACCOUNT='UA-XXXXXXXX-X'
GOOGLE_MAPS_API_KEY='XYZ'
MAILER_DESTINATION='MAILER_DESTINATION'
DEV_DELIVERY_ADDRESS='DEV_DELIVERY_ADDRESS'
###< app/bundle ###

###> symfony/framework-bundle ###
KERNEL_CLASS='App\Kernel'
APP_ENV=dev
APP_SECRET='$ecretf0rt3st'
APP_DEBUG=true
SYMFONY_DEPRECATIONS_HELPER=999999
PANTHER_APP_ENV=panther
###< symfony/framework-bundle ###

###> symfony/mailer ###
MAILER_DSN=null://localhost
###< symfony/mailer ###

###> google/recaptcha ###
GOOGLE_RECAPTCHA_SITE_KEY=XYZ
GOOGLE_RECAPTCHA_SECRET=XYZ
###< google/recaptcha ###

###> excelwebzone/recaptcha-bundle ###
EWZ_RECAPTCHA_SITE_KEY=XYZ
EWZ_RECAPTCHA_SECRET=XYZ
###< excelwebzone/recaptcha-bundle ###
