{% extends "webpage/base.html.twig" %}

{% block title %} · Política de Cookies{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div id="home" class="jumbotron jumbotron-fluid bg-white mb-0" style="background-image: url('{{ asset('build/legals.png') | imagine_filter('2400xY') }}');background-size:cover;">
        <div class="container py-5">
            <h1 class="text-white">Política de Cookies</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-justify">
                    <button type="button" class="btn btn-primary mb-5" data-toggle="modal" data-target="#cookieStaticBackdropModal1">
                        Modificar consentimiento de cookies
                    </button>
                    {% include 'webpage/cookies_policy_common_fragment.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
