{% extends "webpage/base.html.twig" %}

{% block title %} · Condiciones legales{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div id="home" class="jumbotron jumbotron-fluid bg-white mb-0" style="background-image: url('{{ asset('build/home.png') | imagine_filter('2400xY') }}');background-size:cover;">
        <div class="container p-5">
            <h1 class="text-white">Condiciones legales</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <p class="mb-0">{# TODO fill this content #}...</p>
        </div>
    </div>
{% endblock %}
