{% extends "webpage/base.html.twig" %}

{% block title %} · No sé que hacer con mi vida · Blog{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_front_homepage') }}">{{ front_web_title | capitalize }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary ml-2" href="{{ path('app_front_blog_landing') }}">Blog</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div id="home" class="jumbotron jumbotron-fluid bg-white mb-0" style="background-image: url('{{ asset('build/legals.png') | imagine_filter('2400xY') }}');background-size:cover;">
        <div class="container py-5">
            <h1 class="text-white">No sé que hacer con mi vida</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        El COVID-19 ha roto todo esquema, toda previsión existente. Se ha vivido un lapso de tiempo en el que la nada, lo ha sido todo. Más presente que nunca, el pasado no ha importado y el futuro se ha diluido en su intento de existir. Resbala. Se evapora minuto a minuto. ¿Cómo orientarse en este efímero contexto? ¿Qué decisiones tomar en una sociedad tan líquida y efervescente? ¿Hacia dónde dirigir nuestros pasos?
                    </p>
                    <p>
                        Tenemos tantas posibilidades a nuestro alcance y a la vez tan poca certeza sobre cuál de ellas va a resultar la más acertada para nosotros y nuestro bienestar, que con frecuencia tenemos la sensación de que no sabemos qué hacer con nuestra vida ni qué dirección tomar. Sentimos un vacío existencial caracterizado por la presencia de emociones y pensamientos relacionados con el miedo, la tensión, la indecisión, la ansiedad incluso la frustración o la  culpa de los que nos resulta difícil salir. Ello genera un gran dolor. Si éste se prolonga en el tiempo, puede acabar desencadenando en una patología que afecte a nuestro correcto desempeño vital. Por ello ponernos manos a la obra es un elemento que no sólo nos va a generar un mayor grado de bienestar y seguridad en el complejo devenir sinó que además va a suponer una llave de protección y prevención.
                    </p>
                    <p>
                        El análisis no científico de historias vitales ha indicado que, las personas que han sido capaces de reconstruir de manera constante sus proyectos vitales para dar respuesta al cambio constante de la sociedad, han salido fortalecidas de éstas circunstancias a priori, adversas. ¿Cómo lo han hecho?
                    </p>
                    <p>
                        Como psicóloga, coach y terapeuta pongo a tu disposición  elementos que pueden facilitarte ese camino de reconstrucción constante para que, de ésta manera te conviertas en el artista de tu propia vida y puedas crear y disfrutar de esos escenarios que llevas tiempo imaginando.
                    </p>
                    <p>
                        Para ello,además de la asesoría individual, pongo a tu disposición este blog en el que de manera mensual se abordarán diferentes contenidos relacionados con la búsqueda del sentido vital. Si no sabes qué hacer con tu vida, posibilizate.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
