// colors
$green-dark:  #7ABF5B;
$green-pure:  #C4DB72;
$green:       #BADBA5;
$green-light: #E5EEC2;

// variables
$pb-custom-navbar-height: 90px;
$navbar-height: $pb-custom-navbar-height;

// fonts
$icon-font-path: "/build/fonts/";
$fa-font-path:   "~@fortawesome/fontawesome-free/webfonts";
$enable-responsive-font-sizes: true;

// colors
$brand-primary-color: $green-dark;
$brand-secondary-color: $green-light;
$link-color: $brand-primary-color;

// imports
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~bootstrap/scss/bootstrap";

// customs
.c-green-dark  { color: $green-dark; }
.c-green-pure  { color: $green-pure; }
.c-green       { color: $green; }
.c-green-light { color: $green-light; }
.bg-c-green-dark  { background-color: $green-dark; }
.bg-c-green-pure  { background-color: $green-pure; }
.bg-c-green       { background-color: $green; }
.bg-c-green-light { background-color: $green-light; }

// elements
.text-brand-primary {
  color: $brand-primary-color !important;
}

.text-brand-secondary {
  color: $brand-secondary-color !important;
}

.bg-brand-primary {
  background-color: $brand-primary-color !important;
}

.bg-brand-secondary {
  background-color: $brand-secondary-color !important;
}

body {
  padding-top: $pb-custom-navbar-height;
}

.navbar.with-border-bottom {
  border-bottom: solid 1px $green-dark;
}

footer.footer {
  color: white !important;
  div.container {
    ul.list-inline {
      li.list-inline-item {
        a {
          color: white !important;
        }
      }
    }
  }
}
