// colors
$green-dark:  #7DC058;
$green-pure:  #C6DB70;
$green:       #BCDBE5;
$green-light: #E6EEC3;

// variables
$pb-custom-navbar-height: 90px;
$navbar-height: $pb-custom-navbar-height;

// fonts
$icon-font-path: "/build/fonts/";
$fa-font-path:   "/build/fonts";
$enable-responsive-font-sizes: true;

// colors
$brand-primary-color: #921C56;
$brand-secondary-color: #F7EAD8;
$link-color: $brand-primary-color;

// elements
.text-brand-primary {
  color: $brand-primary-color !important;
}

.text-brand-secondary {
  color: $brand-secondary-color !important;
}

.bg-brand-primary {
  background-color: $brand-primary-color !important;
}

.bg-brand-secondary {
  background-color: $brand-secondary-color !important;
}

footer.footer {
  color: white !important;
  div.container {
    ul.list-inline {
      li.list-inline-item {
        a {
          color: white !important;
        }
      }
    }
  }
}

// imports
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

// customs
.c-green-dark  { color: $green-dark; }
.c-green-pure  { color: $green-pure; }
.c-green       { color: $green; }
.c-green-light { color: $green-light; }
.bg-c-green-dark  { background-color: $green-dark; }
.bg-c-green-pure  { background-color: $green-pure; }
.bg-c-green       { background-color: $green; }
.bg-c-green-light { background-color: $green-light; }

body {
  padding-top: $pb-custom-navbar-height;
}

.navbar.with-border-bottom {
  border-bottom: solid 1px $green-dark;
}
